table {
    border-spacing: 0;
    border-collapse: collapse;
}

.trheader {
    color: white;
    display: flex;
    justify-content: space-evenly;
    border: 1.5px solid black;
    width: 100vw;
}
.th {
    width: 20vw;
    height: 5vh;
    font-size: 1.5rem;
    background-color: #CF1E6F;
}

.td {
    width: 20vw;
    overflow-wrap: break-word;
    font-size: 1em;
    background-color: gray;
    text-align: center;
    margin : 0 0;
    padding: 0 0;
    height: auto;
}

.trheader :hover {background-color: #CF1E6F}

.modal {
    width:330%;
}